*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gilroy';
}

html, body{
	height: 100%;
	width: 100%;
}

                   /* this is a slider section */


.popup{
	height: 100%;
	width: 100%;
/* 	background-color: green; */
	overflow: hidden;
}
.popup 
.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 85vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 32s infinite;
            animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

button{
	padding: 10px;
	border-radius: 4px;
	float: right;
	margin: 35px 35px;
	cursor: pointer;
}



           /* this is a game page.. which automatically come after user hit the START PLAYING button */


#main{
	height: 100%;
	width: 100%;
	background-color: #ccff99;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

#main #panel{
	height: 100%;
	width: 100%;
	background-color: #000;
	border-radius: 7px;
	overflow: hidden;
}

#main #panel #p-top{
	height: 100px;
	width: 100%;
	background-color:#3d7d57;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#main #panel #p-top #elem{
	width: 9%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
#main #panel #p-top #elem h2{
	color: #fff;
}
#main #panel #p-top #elem .box{
/* 	width: 30px; */
    padding: 10px 18px;
    border-radius: 5px;
	background-color: #fff;
	font-size: 20px;
	font-weight: 800;
	color: #3d7d57;
	text-align: center;
}

#main #panel #p-bottom{
	height: calc(100% - 100px);
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

#main #panel #p-bottom #bubble{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: #3d7d57;
	color: #fff;
	font-size: 25px;
	font-weight: 800;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}
#main #panel #p-bottom #bubble:hover{
	padding: 41px;
	transition: 0.2s;
	color: black;
}
